<!--
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Ассортимент</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container py-3">
  <header th:insert="blocks/header :: header"></header>

  <div class="container mt-5 md-5">
    <h1>Добавление тренажёра</h1>
    <form action="/assortment/add" method="post">
      <input type="text" name="name" placeholder="Введите название тренажёра" class="form-control"><br>
      <input type="text" name="category" placeholder="Введите категорию тренажёра" class="form-control"><br>
      <input type="text" name="electricity_required" placeholder="Нужно ли ему электропитание? (Да/Нет)" class="form-control"><br>
      <input type="text" name="weight_equipment" placeholder="Введите вес тренажёра" class="form-control"><br>
      <input type="text" name="max_weight_user" placeholder="Введите максимально допустимый вес пользователя" class="form-control"><br>
      <input type="text" name="price" placeholder="Введите цену тренажёра" class="form-control"><br>
      <textarea name="about_equipment" placeholder="Введите описание тренажёра" class="form-control"></textarea><br>
      <button type="submit" class="btn btn-success">Добавить тренажёр</button>
    </form>
  </div>

  <footer th:insert="blocks/footer :: footer"></footer>

</div>
</body>
</html>-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Ассортимент</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css">
  <style>
    select{
      display: block;
      width: 100%;
      padding: .375rem .75rem;
      font-size: 1rem;
      margin-bottom: 2%;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
  </style>
</head>
<body>
<div class="container py-3">
  <header th:insert="blocks/header :: header"></header>

  <div class="container mt-5 md-5">
    <h1>Добавление тренажёра</h1>
    <form action="/assortment/add" method="post">
      <input type="text" name="name" placeholder="Введите название тренажёра" class="form-control"><br>
      <select name="category">
        <optgroup label="Кардиотренажеры">
          <option>БЕГОВЫЕ ДОРОЖКИ</option>
          <option>ЭЛЛИПТИЧЕСКИЕ ТРЕНАЖЕРЫ</option>
          <option>СТЕППЕРЫ</option>
          <option>ГРЕБНЫЕ ТРЕНАЖЕРЫ</option>
          <option>ВЕЛОТРЕНАЖЕРЫ</option>
          <option>РАЙДЕРЫ</option>
          <option>МИНИСТАДИОНЫ</option>
        </optgroup>
        <optgroup label="Силовые тренажеры">
          <option>МУЛЬТИСТАНЦИИ И СИЛОВЫЕ КОМПЛЕКСЫ</option>
          <option>СКАМЬИ</option>
          <option>СКАМЬИ СО СТОЙКАМИ ПОД ШТАНГУ</option>
          <option>СИЛОВЫЕ РАМЫ И СТОЙКИ</option>
          <option>ТРЕНАЖЕРЫ ДЛЯ ПРЕССА</option>
          <option>ГИПЕРЭКСТЕНЗИИ И РИМСКИЕ СТУЛЬЯ</option>
          <option>ТУРНИКИ И БРУСЬЯ</option>
          <option>МАШИНЫ СМИТА</option>
          <option>КРОССОВЕРЫ</option>
          <option>СО ВСТРОЕННЫМИ ВЕСАМИ</option>
          <option>СТОЙКИ ПОД ГАНТЕЛИ, ДИСКИ, ГРИФЫ</option>
          <option>ГОРНОЛЫЖНЫЕ ТРЕНАЖЕРЫ</option>
          <option>ИНВЕРСИЯ И РАСТЯЖКА</option>
          <option>ОПЦИИ ДЛЯ СИЛОВЫХ ТРЕНАЖЕРОВ</option>
          <option>ФУНКЦИОНАЛЬНЫЙ ТРЕНИНГ</option>
        </optgroup>
        <optgroup label="Оздоровительное оборудование">
          <option>ВИБРОМАССАЖЕРЫ</option>
          <option>ВИБРОПЛАТФОРМЫ</option>
          <option>МАССАЖНЫЕ СТОЛЫ</option>
          <option>МАССАЖНЫЕ КРЕСЛА</option>
          <option>ИНВЕРСИЯ И РАСТЯЖКА</option>
        </optgroup>
        <optgroup label="Игровые виды спорта">
          <option>НАСТОЛЬНЫЙ ТЕННИС</option>
          <option>БАСКЕТБОЛ</option>
          <option>ИГРОВЫЕ СТОЛЫ</option>
          <option>ДЕТСКИЕ СПОРТИВНЫЕ КОМПЛЕКСЫ ДЛЯ УЛИЦЫ</option>
          <option>ЭЛЕКТРОСАМОКАТЫ</option>
        </optgroup>
        <optgroup label="Спортивные батуты">
          <option>МИНИ БАТУТЫ ДЛЯ ДОМА</option>
          <option>БАТУТЫ БЕЗ ЗАЩИТНОЙ СЕТИ</option>
          <option>БАТУТЫ С ЗАЩИТНОЙ СЕТЬЮ</option>
          <option>НАДУВНЫЕ БАТУТЫ</option>
          <option>ДЕТСКИЕ БАТУТЫ</option>
          <option>АКСЕССУАРЫ</option>
        </optgroup>
        <optgroup label="Железо для спортзала">
          <option>ГАНТЕЛИ</option>
          <option>ШТАНГИ</option>
          <option>ГРИФЫ</option>
          <option>ДИСКИ</option>
          <option>ГИРИ</option>
          <option>БЛОЧНЫЕ РУЧКИ</option>
          <option>АКСЕССУАРЫ</option>
        </optgroup>
      </select>
      <select name="electricity_required">
        <optgroup label="Нужно ли тренажёру электропитание? (Да/Нет)">
          <option>Нет</option>
          <option>Да</option>
        </optgroup>
      </select>
      <input type="text" name="weight_equipment" placeholder="Введите вес тренажёра" class="form-control"><br>
      <input type="text" name="max_weight_user" placeholder="Введите максимально допустимый вес пользователя" class="form-control"><br>
      <input type="text" name="price" placeholder="Введите цену тренажёра" class="form-control"><br>
      <textarea name="about_equipment" placeholder="Введите описание тренажёра" class="form-control"></textarea><br>
      <button type="submit" class="btn btn-success">Добавить тренажёр</button>
    </form>
  </div>

  <footer th:insert="blocks/footer :: footer"></footer>

</div>
</body>
</html>